{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
              <style>.errorlist{color:red;}label{display:none}</style>
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-box-arrow-in-right"></i></div>
                            <h1 class="fw-bolder"><span class="text-gradient d-inline">Iniciar sesión</span></h1>
                            <p class="lead fw-normal text-muted mb-0">¡Trabajemos juntos!</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                            {% if 'register' in request.GET %} <!--Si se detecta que hay este parametro(request.GET) en el diccionario de parametros GET, mostrara un mensaje-->
                              <p style="color:#1826c2;" class="text-center"><span class="text-gradient d-inline">¡El usuario se ha registrado correctamente!</span> <br>
                              Ya podemos trabajar juntos</p>
                            {% endif %}
                              <form action="" method="post">{% csrf_token %}
                                {% if form.non_field_errors %}
                                  <p style="{color:red}">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                                {% endif %}
                                <p>
                                  <input type="text" name="username" autofocus maxlength="254" required
                                    id="id_username" class="form-control" placeholder="Nombre de usuario"/>
                                </p>
                                <p>
                                  <input type="password" name="password" required
                                    id="id_password" class="form-control" placeholder="Contraseña"/>
                                </p>
                                <p><input type="submit" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" value="Acceder"></p>
                              </form>
                              <p class="text-muted">
                              ¿Ha olvidado la contraseña? Puede restaurarla <a href="{% url 'password_reset' %}">aquí.</a> 
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}